{% extends "base.html.twig" %}


{% block body %}

<style>
    .example-wrapper {
        margin: 0px 0px;
        font: 15px/1.5 sans-serif;
        text-align: left;
        padding: 100px;
        background-color: #F1E9E7
    }

    .example-wrapper code {
        background: #F5F5F5;
        padding: 2px 6px;
    }
</style>
<div class="example-wrapper">
    <div class="row">
        <ol class="breadcrumb">
            <li><a href="{{ path('app_home') }}">Accueil</a></li>
        </ol>
        <div class="col-md-10 mx-auto">

            <header class="page-header">
                <h1 class="page-title">Création d'un Billeterie</h1>
            </header>
            {{ form_start(formUser) }}

            {{ form_widget(formUser) }}

            <div class="row">
                <div class="col-sm-12 text-right">
                    <button type="submit" class="btn btn-primary" formnovalidate>Enregistrer</button>
                </div>
            </div>
            {{ form_end(formUser) }}
        </div>
    </div>
</div>

{% endblock %}