{% extends "base.html.twig" %}

{% block body %}
<!-- Highlights - jumbotron -->
<div class="jumbotron top-space">
    <div class="container">

        <h3 class="text-center thin">TEAM</h3>

        <div class="card" style="width: 20rem;">    
        </div>
            <div class="col-sm-6 col-sm-6 highlight">
                {# <div class="counter-img">
                    <img src="images/djib (1).jpg" class="card-img-top" alt="">
                </div> #}
                <div class="h-body text-center">
                    <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Asperiores, commodi, sequi quis ad
                        fugit omnis cumque a libero error nesciunt molestiae repellat quos perferendis numquam quibusdam
                        rerum repellendus laboriosam reprehenderit! </p>
                </div>
            </div>
            <div class="col-sm-6 col-sm-6 highlight">
                {# <div class="counter-img">
                    <img src="images/talla Djitté 20191111_163533.jpg" class="card-img-top" alt="">
                </div> #}
                <div class="h-body text-center">
                    <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Voluptatem, vitae, perferendis,
                        perspiciatis nobis voluptate quod illum soluta minima ipsam ratione quia numquam eveniet eum
                        reprehenderit dolorem dicta nesciunt corporis?</p>
                </div>
            </div>
            </div>
        </div> <!-- /row  -->

    </div>
</div>
<!-- /Highlights -->
{% endblock %}