{% extends "base.html.twig" %}

{% block body %}
<style>
    .example-wrapper { margin: 0px 0px; font: 10px/1.5 sans-serif; background-color: grey; text-align: left;padding: 100px }
    .example-wrapper code {
        background: #F5F5F5;
        padding: 2px 6px;
    }
</style>
<div class="example-wrapper">
    <h1>Modification de l'événement</h1>
    {{ form_start(formEnv) }}
    {{ form_widget(formEnv) }}

    <div class="row">
        <div class="col-sm-12 text-right">
            <button type="submit" class="btn btn-success">Enregistrer les modifications</button>
        </div>
    </div>
    
    {{ form_end(formEnv) }}
</div>
{% endblock %}