{% extends "base.html.twig" %}

{% block body %}
<style>
    .example-wrapper {
        margin: 0px 0px;
        font: 15px/1.5 sans-serif;
        text-align: left;
        padding: 100px;background-color: #F1E9E7
    }

    .example-wrapper code {
        background: #F5F5F5;
        padding: 2px 6px;
    }
</style>
<div class="example-wrapper">
    <ol class="breadcrumb">
        <li><a href="{{ path('app_home') }}">Accueil</a></li>
    </ol>
    <header class="page-header">
        <h1 class="page-title">Modification de l'événement</h1>
    </header>
    {{ form_start(formEnv) }}
    
    {{ form_widget(formEnv) }}

    <div class="row">
        <div class="col-sm-12 text-right">
            <button type="submit" class="btn btn-primary">Enregistrer</button>
            <button type="submit" class="btn btn-danger">Annuler</button>
        </div>
    </div>

    {{ form_end(formEnv) }}
</div>
{% endblock %}