{% extends "base.html.twig" %}

{% block body %}
    <article>
        <h1> Titre de l'événement</h1>
        <div class="metadata">Ecrit le 04/11/1997 à 18:05</div>
        <div class="content">
            <img src="" alt="">
            <p>Ceci est un test</p>
            <a href="#" class="btn btn-primary">Lire la suite</a>
        </div>
    </article>
{% endblock %}